augmented_datasets/
processed_dataset
splitted_dataset_0.7_0.1_0.2/
Output_Files/
array_files/

*/.DS_Store
.DS_Store
# Python
.Python
__pycache__/
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
